.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.skillsAnimate {
  display: flex;
  gap: 20px;
}

.skillsAnimate[data-reverse="false"] {
  animation: scrolling 20s linear infinite;
}

.skillsAnimate[data-reverse="true"] {
  animation: reverseScrolling 20s linear infinite;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-shrink: 0;
  width: 240px;
  padding: 40px 25px;
  background-color: var(--card-background-color);
  border-radius: 0.75rem;
  transition: all ease-in-out 0.3s;
}

.skills:hover {
  background-color: var(--card-hover-background-color);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.skills p {
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: wrap;
  color: var(--text-color)
}

.skills svg {
  width: 32px;
  height: 32px;
  color: #fff;
}

.skills[data-theme="light"] svg{
  filter: invert();
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



@keyframes reverseScrolling {
  100% {
    transform: translateX(0%);
  }

  0% {
    transform: translateX(-50%);
  }
}


@media (max-width: 768px) {
  .skills {
    justify-content: center;
    width: 160px;
    padding: 20px 10px;
  }

  .skills svg {
    width: 28px;
    height: 28px;
  }

  .skills p {
    font-size: 1rem;
  }
}
