.bg {
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 6rem 1.25rem;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%)
}

.main {
    padding: 0 1rem;
}

.aboutSection {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /*padding: 10rem 0;*/
    max-width: 740px;
    min-height: calc(100vh - 60px);
}

.aboutSection header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.image {
    z-index: -1;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.name {
    font-weight: 700;
    font-size: clamp(1rem, 4.5vw, 2rem);
    padding: 10px 15px;
    background: yellow;
    color: #000d;
    border-radius: 10px;
    margin-top: -40px;
}

.description {
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    text-wrap: balance;
}

.description span:first-child {
    color: cadetblue;
}

.description span:nth-child(2) {
    color: dodgerblue;
}

.description span:nth-child(3) {
    color: #17bfce;
}

.socialLinksContainer {
    display: flex;
    gap: 20px;
}

.bemto {

}

@media (max-width: 768px) {
    .aboutSection {
        width: 100%;
        padding: 5rem 0;
        align-items: flex-start;
    }

    .aboutSection header {
        align-items: flex-start;
        gap: 10px;
    }

    .image {
        width: 120px;
        height: 120px;
    }

    .name {
        padding: 5px 10px;
        margin-top: 0px;
    }

    .description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: left;
    }

}