.darkBg {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 6rem 1.25rem;
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #63e 100%);
}

.lightBg {
  position: absolute;
  inset: 0px;
  z-index: -10;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  background-image: linear-gradient(to right, #8080800a 1px, transparent 1px),
  linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lightBg div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: -10;
  margin: auto;
  height: 310px;
  width: 310px;
  border-radius: 9999px;
  background: rgb(232 121 249 / 1);
  opacity: 0.2;
  filter: blur(50px);
}

.togglePosition {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: fixed;
  top: 35px;
  right: 20px;
}

.language {
  color: var(--text-color);
  cursor: pointer;
}

.main {
  padding: 0 2rem;
}

.aboutSection {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /*padding: 10rem 0;*/
  max-width: 740px;
  min-height: 100vh;
  margin-top: -80px;
}

.aboutSection header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.image {
  z-index: -1;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  border: 2px solid rgb(var(--border-color));
  box-sizing: border-box;
}

.name {
  font-weight: 700;
  font-size: clamp(1rem, 4.5vw, 2rem);
  padding: 10px 15px;
  background: yellow;
  color: #000d;
  border-radius: 10px;
  margin-top: -40px;
}

.description {
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  text-wrap: balance;
  color: var(--text-color);
}

.description span:nth-child(2) {
  color: #52e01a;
  font-weight: 400;
}

.description span:nth-child(3) {
  color: #17bfce;
  font-weight: 400;
}

.socialLinksContainer {
  display: flex;
  gap: 20px;
}

.bemto {
  display: grid;
  gap: 1rem;
  /*grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));*/
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.bemto article:first-child {
  grid-area: 1 / 1 / 3 / 3;
}

.bemto article:nth-child(2) {
  grid-area: 3 / 1 / 4 / 2;
}

.bemto article:nth-child(3) {
  grid-area: 3 / 2 / 4 / 4;
}

.bemto article:nth-child(4) {
  grid-area: 4 / 4 / 2 / 4;
}

.bemto article:nth-child(5) {
  grid-area: 1 / 3 / 3 / 4;
}

.bemto article:nth-child(6) {
  grid-area: 1 / 4 / 2 / 5;
}

.bemto article:nth-child(7) {
  grid-area: 2 / 4 / 4 / 5;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(var(--border-color), 0.5);
  transition: all ease-in-out 0.3s;
  width: 120px;
  margin: 0 auto;
  margin-top: '40px';
}

.link:hover {
  border-color: rgba(var(--border-color), 1);
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  position: relative;
}


.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contact div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-wrap: balance;
  color: var(--text-color);
}

.title span {
  color: yellow;
}

.title span[data-theme="light"] {
  color: var(--title-color);
}

.message {
  font-weight: 300;
  text-wrap: balance;
  color: var(--text-color);
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form textarea {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid rgba(var(--border-color), 0.5);
  background-color: var(--background-color);
  outline: none;
  transition: border ease-in-out 0.3s;
  color: var(--text-color);
}

.form textarea:focus,
.form textarea:hover {
  border: 1px solid rgba(var(--border-color), 1);
}

.form button {
  width: 100%;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--background-color);
  filter: invert();
  border: none;
  color: var(--text-color);
}

.footer {
  padding: 40px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--text-color);
}

.rightShadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10rem;
  pointer-events: none;
  background-image: linear-gradient(to right, var(--background-color), transparent);
}

.leftShadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10rem;
  pointer-events: none;
  background-image: linear-gradient(to left, var(--background-color), transparent);
}

@media (max-width: 1000px) {
  .bemto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    width: 100%;
    padding: 5rem 0;
    align-items: flex-start;
  }

  .aboutSection header {
    align-items: flex-start;
    gap: 10px;
  }

  .image {
    width: 120px;
    height: 120px;
  }

  .name {
    padding: 5px 10px;
    margin-top: 0px;
  }

  .description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .skills {
    justify-content: center;
    width: 160px;
    padding: 10px 20px;
  }

  .skills svg {
    width: 28px;
    height: 28px;
  }

  .skills p {
    font-size: 1rem;
  }

  .socialLinksContainer {
    flex-wrap: wrap;
  }

  .togglePosition{
    z-index: 10;
    left: 20px;
    top: 17px;
    width: max-content;
  }
}
